<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Animation Framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>BookMaker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>BookReader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MoverlaySDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MoverlaySDKTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Showcase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SingleBookApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E35C8F41965E39F00741239</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E35C9191965E39F00741239</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E5610FF194A11290010D4DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E561181194A13B60010D4DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E561197194A13B60010D4DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E7B1F5019AE5977003375DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E7B1F6F19AE5977003375DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E887CBB17C43E2100A69942</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5ECFCFC1185692B10099D0A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5ECFCFCE185692B10099D0A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EEFB23417C46FAC00EE4157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EEFB25517C4719900EE4157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EEFB26717C4728A00EE4157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EEFB3DF17C47C6C00EE4157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CF42B891964B6B800726C6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
